h1{
    width: 100%;
    font-weight: bold;
    margin: 20px;
    margin-bottom: 40px;
}
input{
    width: 100%;
}
.dk-Row{
    margin-top: 10px;
    margin-bottom: 10px;
}
.dk-button{
    width: 70px;
}
.content-item{
    text-align: left;
    width: 100%;
}